.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green {color: green; }
.blue { color: blue; }
.purple { color: purple; }
.brown { color: brown; }

.small { font-size: 70%; }